.castList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .castItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  
  .castImage {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    
  }
  
  .castName {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .castCharacter {
    font-size: 28px;
    color: #888;
  }
  